.filter-options{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-menu{
    width: fit-content;
    min-width: fit-content;
    padding: 0;
}

.search-btn{
    min-width: 200px;
}

.filter{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    color: var(--main-color);
    cursor: pointer;
}

.filter i{
    font-size: 25px;
}

.filter:hover i{
    transform: scale(1.05);
}