<div class="wrapper">
   <div class="filter-options">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchInput">
            <div class="btn-group">
              <button type="button" class="btn btn-primary search-btn" (click)="triggerSearch()">SEARCH BY {{ searchOption | uppercase }}</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                  <input type="radio" class="btn-check" name="search-radio-student" id="username-radio-student" autocomplete="off" checked (change)="updateSearchOption('Username')">
                  <label class="btn btn-outline-success" for="username-radio-student">Username</label>
                  <input type="radio" class="btn-check" name="search-radio-student" id="email-radio-student" autocomplete="off" (change)="updateSearchOption('Email')">
                  <label class="btn btn-outline-success" for="email-radio-student">Email</label>
                  <input type="radio" class="btn-check" name="search-radio-student" id="tel-radio-student" autocomplete="off" (change)="updateSearchOption('Telephone')">
                  <label class="btn btn-outline-success" for="tel-radio-student">Telephone</label>
                </div>
              </ul>
            </div>
        </form>
        <div class="filter">
            <i class="fa-solid fa-filter"></i>
            <span>filter</span>
        </div>
    </div> 
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Status</th>
            <th>Specialité</th>
            <th>Date de Naissance</th>
            <th>Account</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students$ |async">
                <td>{{ student.username }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.telephone }}</td>
                <td>{{ student.studentStatus }}</td>
                <td>{{ student.specialization }}</td>
                <td>{{ student.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
                <td>{{ student.accountStatus }}</td>
                <td> action </td>
              </tr>
        </tbody>
      </table>
</div>
