<div class="wrapper">
    <div class="filter-options">
      <form class="d-flex search-form" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchInput">
        <div class="btn-group">
          <button type="button" class="btn btn-primary search-btn" (click)="triggerSearch()">SEARCH BY {{ searchOption | uppercase }}</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
              <input type="radio" class="btn-check" name="search-radio-admin" id="username-radio-admin" autocomplete="off" checked (change)="updateSearchOption('Username')">
              <label class="btn btn-outline-success" for="username-radio-admin">Username</label>
              <input type="radio" class="btn-check" name="search-radio-admin" id="email-radio-admin" autocomplete="off" (change)="updateSearchOption('Email')">
              <label class="btn btn-outline-success" for="email-radio-admin">Email</label>
              <input type="radio" class="btn-check" name="search-radio-admin" id="tel-radio-admin" autocomplete="off" (change)="updateSearchOption('Telephone')">
              <label class="btn btn-outline-success" for="tel-radio-admin">Telephone</label>
            </div>
          </ul>
        </div>
    </form>
    <div class="right-side d-flex justify-content-between align-items-center gap-1">
      <div class="btn-group add-buttons">
        <button type="button" class="btn btn-primary">New</button>
        <button type="button" class="btn btn-primary" (click)="toggleAddingActive()" data-bs-toggle="collapse" data-bs-target="#add-collapse" aria-expanded="false" aria-controls="add-collapse">
          <i *ngIf="!addingActive" class="fa-solid fa-plus"></i>
          <i *ngIf="addingActive" class="fa-solid fa-minus"></i>
        </button>
      </div>
      <div class="filter" [ngClass]="{'changed': filterChanged}" data-bs-toggle="modal" data-bs-target="#AdminFilterModal">
        <i class="fa-solid fa-filter"></i>
        <span>filter</span>
        <div class="filter-circle">{{ activeFilters }}</div>
      </div>
    </div>
    
  <!--Filter Modal -->
  <div class="modal fade" id="AdminFilterModal" tabindex="-1" aria-labelledby="AdminFilterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="StudentFilterModalLabel">Filter Students</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <label>Privilege:</label><br>
            <div class="mb-3 d-grid justify-content-center spec-grid">
              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-MANAGE_POSTER_SESSIONS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'MANAGE_POSTER_SESSIONS'" (click)="togglePrivilegeFilter('MANAGE_POSTER_SESSIONS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-MANAGE_POSTER_SESSIONS">MANAGE_POSTER_SESSIONS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-MANAGE_STAGE_DEMANDS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'MANAGE_STAGE_DEMANDS'" (click)="togglePrivilegeFilter('MANAGE_STAGE_DEMANDS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-MANAGE_STAGE_DEMANDS">MANAGE_STAGE_DEMANDS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-POST_OFFERS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'POST_OFFERS'" (click)="togglePrivilegeFilter('POST_OFFERS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-POST_OFFERS">POST_OFFERS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-VIEW_ONLY" autocomplete="off" [checked]="selectedPrivilegeFilter === 'VIEW_ONLY'" (click)="togglePrivilegeFilter('VIEW_ONLY')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-VIEW_ONLY">VIEW_ONLY</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-SUPER" autocomplete="off" [checked]="selectedPrivilegeFilter === 'SUPER'" (click)="togglePrivilegeFilter('SUPER')">
              <label class="btn btn-outline-danger mx-1 my-1 last-element" for="filter-admin-SUPER">SUPER</label>

            </div>
            <label>Account Status:</label><br>
            <div class="mb-3">
              <div class="mb-3 d-flex justify-content-center">
                <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-active" autocomplete="off" [checked]="selectedAccountStatusFilter === 'ACTIVE'" (click)="toggleAccountStatusFilter('ACTIVE')">
                <label class="btn btn-outline-success mx-1" for="filter-account-active">ACTIVE</label>
                <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-suspended" autocomplete="off" [checked]="selectedAccountStatusFilter === 'SUSPENDED'" (click)="toggleAccountStatusFilter('SUSPENDED')">
                <label class="btn btn-outline-success mx-1" for="filter-account-suspended">SUSPENDED</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>
     </div> 

     <!-- add collapse -->
    <div class="collapse add-collapse-container" id="add-collapse">
      <div class="container d-flex justify-content-center gap-2">
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('VIEW_ONLY')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/eye.svg" alt="view only" class="add-icon">
          <h3>VIEW ONLY</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('MANAGE_STAGE_DEMANDS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/clipboard.svg" alt="manage stages demandes" class="add-icon">
          <h3>MANAGE STAGE DEMANDS</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center star" (click)="selectNewAdminPrivilege('SUPER')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/star-dark.svg" alt="super" class="add-icon">
          <h3>SUPER</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('MANAGE_POSTER_SESSIONS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/calender-1.svg" alt="manage poster sessions" class="add-icon">
          <h3>MANAGE POSTER SESSIONS</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('POST_OFFERS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/briefcase.svg" alt="post offers" class="add-icon">
          <h3>POST OFFERS</h3>
        </div>
      </div>
  </div>

  <!-- Adding Modal -->
  <div class="modal fade" id="new-admin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="new-admin-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header adding-modal">
          <div class="title-wrapper">
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'VIEW_ONLY'">
              <img src="./assets/images/eye.svg" alt="view only" class="add-icon">
              <h5>VIEW ONLY</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'MANAGE_STAGE_DEMANDS'">
              <img src="./assets/images/clipboard.svg" alt="manage stage demandes" class="add-icon">
              <h5>MANAGE STAGE DEMANDS</h5>
            </div>
            <div class="add-title d-flex align-items-center star" *ngIf="selectedNewAdminPrivilege === 'SUPER'">
              <img src="./assets/images/star-dark.svg" alt="super" class="add-icon">
              <h5>SUPER</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'MANAGE_POSTER_SESSIONS'">
              <img src="./assets/images/calender-1.svg" alt="manage poster sessions" class="add-icon">
              <h5>MANAGE POSTER SESSIONS</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'POST_OFFERS'">
              <img src="./assets/images/briefcase.svg" alt="post offers" class="add-icon">
              <h5>POST OFFERS</h5>
            </div>
          </div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newUserForm" class="d-flex flex-column">
            <div class="input-group mb-3">
              <span class="input-group-text" id="username-label">Username</span>
              <input type="text" class="form-control" placeholder="Username" formControlName="username" aria-label="Username" aria-describedby="username-label">
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidNewUsername">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                invalid username !
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="password-label" (click)="generateRandomPassword()">Generate Randomly</span>
              <input type="{{ PasswordVisibility ? 'text' : 'password' }}" class="form-control" placeholder="Password" formControlName="password" aria-label="Password" aria-describedby="password-label">
              <span class="material-symbols-outlined visibilityIcon" (click)="toggleVisibility()">{{ PasswordVisibility ? 'visibility' : 'visibility_off' }}</span>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="email-label">Email</span>
              <input type="email" class="form-control" placeholder="Email" formControlName="email" aria-label="Email" aria-describedby="email-label">
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidNewUserEmail">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                invalid email !
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="telephone-label">Telephone</span>
              <input type="text" formControlName="telephone" pattern="[0-9]*" inputmode="numeric" minlength="8" maxlength="8" class="form-control" placeholder="99999999" aria-label="Telephone" aria-describedby="telephone-label">
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidNewUserTelephone">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                invalid telephone !
              </div>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" formControlName="sendVerificationEmail" id="sendEmailSwitch" checked>
              <label class="form-check-label" for="sendEmailSwitch">Send verification email</label>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="incompleteNewUserSubmit">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                il y a un champ incomplete !
              </div>
            </div>
            <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="NewUserCreatedSuccesfully">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#check-circle-fill"/></svg>
              <div>
                student added succesfully
              </div>
            </div>
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="NewUserCreatedError">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                error adding student to database ! 
              </div>
            </div>
            
            
          </form>
        </div>
        <div class="modal-footer">
          <button *ngIf="!NewUserCreatedSuccesfully" type="button" class="btn btn-secondary" (click)="resetNewUserForm()">RESET</button>
            <button *ngIf="NewUserCreatedSuccesfully" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetNewUserForm()">CLOSE</button>
            <button *ngIf="!NewUserCreatedSuccesfully" type="button" class="btn btn-primary" (click)="createUser()">CREATE</button>
            <button *ngIf="NewUserCreatedSuccesfully" type="button" class="btn btn-primary" (click)="resetNewUserForm()">ADD NEW</button>
        </div>
      </div>
    </div>
  </div>
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Privilege</th>
            <th>Account Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins$ | async">
            <td>{{ admin.username }}</td>
            <td>{{ admin.email }}</td>
            <td>{{ admin.telephone }}</td>
            <td>{{ admin.privilege }}</td>
            <td>{{ admin.accountStatus }}</td>
            <td>
              <div class="action-container d-flex gap-2">
                <img *ngIf="admin.accountStatus == 'SUSPENDED'" (click)="activateAccount(admin)" src="./assets/images/locked-icon.svg" alt="lock">
                <img *ngIf="admin.accountStatus == 'ACTIVE'" (click)="suspendAccount(admin)" src="./assets/images/unlocked-icon.svg" alt="unlock">
                <img src="./assets/images/eye-icon-dark.svg" alt="view" (click)="this.adminToView = admin" data-bs-toggle="modal" data-bs-target="#view-admin-modal">
                <img src="./assets/images/edit-icon-dark.svg" alt="edit" (click)="setAdminToEdit(admin)" data-bs-toggle="modal" data-bs-target="#edit-admin-modal">
                <img src="./assets/images/trash-icon.svg" alt="trash" (click)="DeleteThisAdmin(admin)" data-bs-toggle="modal" data-bs-target="#delete-admin-modal">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
 </div>
 
 <!-- Deleting Modal -->
 <div class="modal fade" id="delete-admin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-admin-modal-Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header adding-modal">
        <h1>Deleting Admin</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="abandonDeleting()"></button>
      </div>
      <div class="modal-body">
       <ul *ngIf="adminToDelete">
        <li>Username: {{ adminToDelete.username }}</li>
        <li>Email: {{ adminToDelete.email }}</li>
        <li>Telephone: {{ adminToDelete.telephone }}</li>
        <li>Status: {{ adminToDelete.privilege }}</li>
        <li>Account: {{ adminToDelete.accountStatus }}</li>
       </ul>
       <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="!UserDeleteConfirmed && DeleteIsPossible">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            are you sure you want to delete this admin ?
          </div>
        </div>
        <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="!UserDeleteConfirmed && !DeleteIsPossible">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            this admin couldn't be deleted, do dou want to suspend the account instead ?
          </div>
        </div>
        <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="UserDeleteConfirmed && DeleteIsPossible">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            admin deleted succesfully
          </div>
        </div>
        <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="UserDeleteConfirmed && !DeleteIsPossible">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            admin account suspended 
          </div>
        </div>
        <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="UserDeleteConcelled">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            admin preserved
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="UserDeletedSuccessfully" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="abandonDeleting()">CLOSE</button>
        <button *ngIf="!UserDeletedSuccessfully" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelDeleting()">Annuler</button>
        <button *ngIf="!UserDeletedSuccessfully" type="button" class="btn btn-primary" (click)="confirmDelete()">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- View Modal -->
<div class="modal fade" id="view-admin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="view-admin-modal-Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header adding-modal">
        <h1>View Admin</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="this.adminToView = null"></button>
      </div>
      <div class="modal-body">
       <ul *ngIf="adminToView">
        <li>Username: {{ adminToView.username }}</li>
        <li>Email: {{ adminToView.email }}</li>
        <li>Telephone: {{ adminToView.telephone }}</li>
        <li>Status: {{ adminToView.privilege }}</li>
        <li>Account: {{ adminToView.accountStatus }}</li>
       </ul>
      </div>
      <div class="modal-footer">
        <button *ngIf="UserDeletedSuccessfully" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.adminToView = null">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!-- Editing Modal -->
<div class="modal fade" id="edit-admin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-admin-modal-Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header adding-modal">
        <h1>Edit Admin</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editUserForm" class="d-flex flex-column">
          <div class="input-group mb-3">
            <span class="input-group-text" id="username-label">Username</span>
            <input type="text" class="form-control" placeholder="Username" formControlName="username" aria-label="Username" aria-describedby="username-label">
          </div>
          <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidEditUsername">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              invalid username !
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="password-label" (click)="generateRandomPassword()">Generate Randomly</span>
            <input type="{{ PasswordVisibility ? 'text' : 'password' }}" class="form-control" placeholder="Password" formControlName="password" aria-label="Password" aria-describedby="password-label">
            <span class="material-symbols-outlined visibilityIcon" (click)="toggleVisibility()">{{ PasswordVisibility ? 'visibility' : 'visibility_off' }}</span>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="email-label">Email</span>
            <input type="email" class="form-control" placeholder="Email" formControlName="email" aria-label="Email" aria-describedby="email-label">
          </div>
          <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidEditUserEmail">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              invalid email !
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="telephone-label">Telephone</span>
            <input type="text" formControlName="telephone" pattern="[0-9]*" inputmode="numeric" minlength="8" maxlength="8" class="form-control" placeholder="99999999" aria-label="Telephone" aria-describedby="telephone-label">
          </div>
          <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="invalidEditUserTelephone">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              invalid telephone !
            </div>
          </div>
          <label>Privilege:</label><br>
            <div class="mb-3 d-grid justify-content-center spec-grid">
              <input type="radio" class="btn-check" name="edit-radio-privilege" id="edit-admin-MANAGE_POSTER_SESSIONS" autocomplete="off" [checked]="selectedEditPrivilege === 'MANAGE_POSTER_SESSIONS'" (click)="selectedEditPrivilege = 'MANAGE_POSTER_SESSIONS'">
              <label class="btn btn-outline-success mx-1 my-1" for="edit-admin-MANAGE_POSTER_SESSIONS">MANAGE_POSTER_SESSIONS</label>

              <input type="radio" class="btn-check" name="edit-radio-privilege" id="edit-admin-MANAGE_STAGE_DEMANDS" autocomplete="off" [checked]="selectedEditPrivilege === 'MANAGE_STAGE_DEMANDS'" (click)="selectedEditPrivilege = 'MANAGE_STAGE_DEMANDS'">
              <label class="btn btn-outline-success mx-1 my-1" for="edit-admin-MANAGE_STAGE_DEMANDS">MANAGE_STAGE_DEMANDS</label>

              <input type="radio" class="btn-check" name="edit-radio-privilege" id="edit-admin-POST_OFFERS" autocomplete="off" [checked]="selectedEditPrivilege === 'POST_OFFERS'" (click)="selectedEditPrivilege = 'POST_OFFERS'">
              <label class="btn btn-outline-success mx-1 my-1" for="edit-admin-POST_OFFERS">POST_OFFERS</label>

              <input type="radio" class="btn-check" name="edit-radio-privilege" id="edit-admin-VIEW_ONLY" autocomplete="off" [checked]="selectedEditPrivilege === 'VIEW_ONLY'" (click)="selectedEditPrivilege = 'VIEW_ONLY'">
              <label class="btn btn-outline-success mx-1 my-1" for="edit-admin-VIEW_ONLY">VIEW_ONLY</label>

              <input type="radio" class="btn-check" name="edit-radio-privilege" id="edit-admin-SUPER" autocomplete="off" [checked]="selectedEditPrivilege === 'SUPER'" (click)="selectedEditPrivilege = 'SUPER'">
              <label class="btn btn-outline-danger mx-1 my-1 last-element" for="edit-admin-SUPER">SUPER</label>

            </div>
          
          <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="incompleteEditUserSubmit">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              il y a un champ incomplete !
            </div>
          </div>
          <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="UserEditedSuccessfully">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              student added succesfully
            </div>
          </div>
          <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="UserEditError">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              error adding student to database ! 
            </div>
          </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="!UserEditedSuccessfully" type="button" class="btn btn-secondary" (click)="resetEditUserForm()">RESET</button>
        <button *ngIf="UserEditedSuccessfully" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetEditUserForm()">CLOSE</button>
        <button *ngIf="!UserEditedSuccessfully" type="button" class="btn btn-primary" (click)="editAdmin()">Edit</button>
      </div>
    </div>
  </div>
</div>

 <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>