<div class="wrapper">
    <div class="filter-options">
      <form class="d-flex search-form" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchInput">
        <div class="btn-group">
          <button type="button" class="btn btn-primary search-btn" (click)="triggerSearch()">SEARCH BY {{ searchOption | uppercase }}</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
              <input type="radio" class="btn-check" name="search-radio-admin" id="username-radio-admin" autocomplete="off" checked (change)="updateSearchOption('Username')">
              <label class="btn btn-outline-success" for="username-radio-admin">Username</label>
              <input type="radio" class="btn-check" name="search-radio-admin" id="email-radio-admin" autocomplete="off" (change)="updateSearchOption('Email')">
              <label class="btn btn-outline-success" for="email-radio-admin">Email</label>
              <input type="radio" class="btn-check" name="search-radio-admin" id="tel-radio-admin" autocomplete="off" (change)="updateSearchOption('Telephone')">
              <label class="btn btn-outline-success" for="tel-radio-admin">Telephone</label>
            </div>
          </ul>
        </div>
    </form>
    <div class="right-side d-flex justify-content-between align-items-center gap-1">
      <div class="btn-group add-buttons">
        <button type="button" class="btn btn-primary">New</button>
        <button type="button" class="btn btn-primary" (click)="toggleAddingActive()" data-bs-toggle="collapse" data-bs-target="#add-collapse" aria-expanded="false" aria-controls="add-collapse">
          <i *ngIf="!addingActive" class="fa-solid fa-plus"></i>
          <i *ngIf="addingActive" class="fa-solid fa-minus"></i>
        </button>
      </div>
      <div class="filter" [ngClass]="{'changed': filterChanged}" data-bs-toggle="modal" data-bs-target="#AdminFilterModal">
        <i class="fa-solid fa-filter"></i>
        <span>filter</span>
        <div class="filter-circle">{{ activeFilters }}</div>
      </div>
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="AdminFilterModal" tabindex="-1" aria-labelledby="AdminFilterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="StudentFilterModalLabel">Filter Students</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <label>Privilege:</label><br>
            <div class="mb-3 d-grid justify-content-center spec-grid">
              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-MANAGE_POSTER_SESSIONS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'MANAGE_POSTER_SESSIONS'" (click)="togglePrivilegeFilter('MANAGE_POSTER_SESSIONS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-MANAGE_POSTER_SESSIONS">MANAGE_POSTER_SESSIONS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-MANAGE_STAGE_DEMANDS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'MANAGE_STAGE_DEMANDS'" (click)="togglePrivilegeFilter('MANAGE_STAGE_DEMANDS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-MANAGE_STAGE_DEMANDS">MANAGE_STAGE_DEMANDS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-POST_OFFERS" autocomplete="off" [checked]="selectedPrivilegeFilter === 'POST_OFFERS'" (click)="togglePrivilegeFilter('POST_OFFERS')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-POST_OFFERS">POST_OFFERS</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-VIEW_ONLY" autocomplete="off" [checked]="selectedPrivilegeFilter === 'VIEW_ONLY'" (click)="togglePrivilegeFilter('VIEW_ONLY')">
              <label class="btn btn-outline-success mx-1 my-1" for="filter-admin-VIEW_ONLY">VIEW_ONLY</label>

              <input type="radio" class="btn-check" name="filter-radio-privilege" id="filter-admin-SUPER" autocomplete="off" [checked]="selectedPrivilegeFilter === 'SUPER'" (click)="togglePrivilegeFilter('SUPER')">
              <label class="btn btn-outline-danger mx-1 my-1 last-element" for="filter-admin-SUPER">SUPER</label>

            </div>
            <label>Account Status:</label><br>
            <div class="mb-3">
              <div class="mb-3 d-flex justify-content-center">
                <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-active" autocomplete="off" [checked]="selectedAccountStatusFilter === 'ACTIVE'" (click)="toggleAccountStatusFilter('ACTIVE')">
                <label class="btn btn-outline-success mx-1" for="filter-account-active">ACTIVE</label>
                <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-suspended" autocomplete="off" [checked]="selectedAccountStatusFilter === 'SUSPENDED'" (click)="toggleAccountStatusFilter('SUSPENDED')">
                <label class="btn btn-outline-success mx-1" for="filter-account-suspended">SUSPENDED</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>
     </div> 

     <!-- add collapse -->
    <div class="collapse add-collapse-container" id="add-collapse">
      <div class="container d-flex justify-content-center gap-2">
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('VIEW_ONLY')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/eye.svg" alt="view only" class="add-icon">
          <h3>VIEW ONLY</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('MANAGE_STAGE_DEMANDS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/clipboard.svg" alt="manage stages demandes" class="add-icon">
          <h3>MANAGE STAGE DEMANDS</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center star" (click)="selectNewAdminPrivilege('SUPER')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/star-dark.svg" alt="super" class="add-icon">
          <h3>SUPER</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('MANAGE_POSTER_SESSIONS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/calender-1.svg" alt="manage poster sessions" class="add-icon">
          <h3>MANAGE POSTER SESSIONS</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewAdminPrivilege('POST_OFFERS')" data-bs-toggle="modal" data-bs-target="#new-admin-modal">
          <img src="./assets/images/briefcase.svg" alt="post offers" class="add-icon">
          <h3>POST OFFERS</h3>
        </div>
      </div>
  </div>

  <!-- Adding Modal -->
  <div class="modal fade" id="new-admin-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="new-admin-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header adding-modal">
          <div class="title-wrapper">
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'VIEW_ONLY'">
              <img src="./assets/images/eye.svg" alt="view only" class="add-icon">
              <h5>VIEW ONLY</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'MANAGE_STAGE_DEMANDS'">
              <img src="./assets/images/clipboard.svg" alt="manage stage demandes" class="add-icon">
              <h5>MANAGE STAGE DEMANDS</h5>
            </div>
            <div class="add-title d-flex align-items-center star" *ngIf="selectedNewAdminPrivilege === 'SUPER'">
              <img src="./assets/images/star-dark.svg" alt="super" class="add-icon">
              <h5>SUPER</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'MANAGE_POSTER_SESSIONS'">
              <img src="./assets/images/calender-1.svg" alt="manage poster sessions" class="add-icon">
              <h5>MANAGE POSTER SESSIONS</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewAdminPrivilege === 'POST_OFFERS'">
              <img src="./assets/images/briefcase.svg" alt="post offers" class="add-icon">
              <h5>POST OFFERS</h5>
            </div>
          </div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">CREATE</button>
        </div>
      </div>
    </div>
  </div>
     <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Privilege</th>
            <th>Account Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins$ | async">
            <td>{{ admin.username }}</td>
            <td>{{ admin.email }}</td>
            <td>{{ admin.telephone }}</td>
            <td>{{ admin.privilege }}</td>
            <td>{{ admin.accountStatus }}</td>
            <td> actions</td>
          </tr>
        </tbody>
      </table>
 </div>
 