<div class="wrapper">
    <div class="logo">
      <img src="/assets/images/logo_enicar.png" alt="Institute Logo">
    </div>
    
    <div class="user-info">
      <i class="fa-regular fa-user"></i>
      <span class="username">Username (Role)</span>
    </div>
    <div class="break"></div>
    <ul class="user-actions">
        <li class="active"><a href="#">
            <i class="fa-solid fa-users"></i>
            <span>User Management</span>
        </a></li>
        <li><a href="#">
            <i class="fa-solid fa-file-invoice"></i>
            <span>Posters</span>
        </a></li>
        <li><a href="#">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Poster Session</span>
        </a></li>
        <li><a href="#">
            <i class="fa-solid fa-briefcase"></i>
            <span>stage offers</span>
        </a></li>
    </ul>
    <div class="break"></div>
    <ul class="user-actions">
        <li><a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
        </a></li>
    </ul>
  </div>