<div class="wrapper">
    <div class="filter-options">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchInput">
            <div class="btn-group">
              <button type="button" class="btn btn-primary search-btn" (click)="triggerSearch()">SEARCH BY {{ searchOption | uppercase }}</button>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                  <input type="radio" class="btn-check" name="search-radio-prof" id="username-radio-prof" autocomplete="off" checked (change)="updateSearchOption('Username')">
                  <label class="btn btn-outline-success" for="username-radio-prof">Username</label>
                  <input type="radio" class="btn-check" name="search-radio-prof" id="email-radio-prof" autocomplete="off" (change)="updateSearchOption('Email')">
                  <label class="btn btn-outline-success" for="email-radio-prof">Email</label>
                  <input type="radio" class="btn-check" name="search-radio-prof" id="tel-radio-prof" autocomplete="off" (change)="updateSearchOption('Telephone')">
                  <label class="btn btn-outline-success" for="tel-radio-prof">Telephone</label>
                </div>
              </ul>
            </div>
        </form>
        <div class="right-side d-flex justify-content-between align-items-center gap-1">
          <div class="btn-group add-buttons">
            <button type="button" class="btn btn-primary">New</button>
            <button type="button" class="btn btn-primary" (click)="toggleAddingActive()" data-bs-toggle="collapse" data-bs-target="#add-collapse" aria-expanded="false" aria-controls="add-collapse">
              <i *ngIf="!addingActive" class="fa-solid fa-plus"></i>
              <i *ngIf="addingActive" class="fa-solid fa-minus"></i>
            </button>
          </div>
          <div class="filter" [ngClass]="{'changed': filterChanged}" data-bs-toggle="modal" data-bs-target="#StudentFilterModal">
            <i class="fa-solid fa-filter"></i>
            <span>filter</span>
            <div class="filter-circle">{{ activeFilters }}</div>
          </div>
        </div>
        
      <!-- Modal -->
      <div class="modal fade" id="StudentFilterModal" tabindex="-1" aria-labelledby="StudentFilterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="StudentFilterModalLabel">Filter Students</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <label>Privilege:</label><br>
                <div class="mb-3 d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="filter-radio-department" id="filter-professor-INFO" autocomplete="off" [checked]="selectedDepartmentFilter === 'INFO'" (click)="toggleDepartmentFilter('INFO')">
                  <label class="btn btn-outline-success mx-1 my-1" for="filter-professor-INFO">INFO</label>

                  <input type="radio" class="btn-check" name="filter-radio-department" id="filter-professor-ELEC" autocomplete="off" [checked]="selectedDepartmentFilter === 'ELEC'" (click)="toggleDepartmentFilter('ELEC')">
                  <label class="btn btn-outline-success mx-1 my-1" for="filter-professor-ELEC">ELEC</label>

                  <input type="radio" class="btn-check" name="filter-radio-department" id="filter-professor-INDUS" autocomplete="off" [checked]="selectedDepartmentFilter === 'INDUS'" (click)="toggleDepartmentFilter('INDUS')">
                  <label class="btn btn-outline-success mx-1 my-1" for="filter-professor-INDUS">INDUS</label>
    
                </div>
                <label>Account Status:</label><br>
                <div class="mb-3">
                  <div class="mb-3 d-flex justify-content-center">
                    <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-active" autocomplete="off" [checked]="selectedAccountStatusFilter === 'ACTIVE'" (click)="toggleAccountStatusFilter('ACTIVE')">
                    <label class="btn btn-outline-success mx-1" for="filter-account-active">ACTIVE</label>
                    <input type="radio" class="btn-check" name="filter-radio-account-status" id="filter-account-suspended" autocomplete="off" [checked]="selectedAccountStatusFilter === 'SUSPENDED'" (click)="toggleAccountStatusFilter('SUSPENDED')">
                    <label class="btn btn-outline-success mx-1" for="filter-account-suspended">SUSPENDED</label>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
            </div>
          </div>
        </div>
      </div>
     </div> 

     <!-- add collapse -->
    <div class="collapse add-collapse-container" id="add-collapse">
      <div class="container d-flex justify-content-center gap-2">
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewProfessorDepartment('INFO')" data-bs-toggle="modal" data-bs-target="#new-professor-modal">
          <img src="./assets/images/computer-binary.svg" alt="informatique" class="add-icon">
          <h3>INFO</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewProfessorDepartment('ELEC')" data-bs-toggle="modal" data-bs-target="#new-professor-modal">
          <img src="./assets/images/elec-1.svg" alt="mecatronique" class="add-icon">
          <h3>ELEC</h3>
        </div>
        <div class="add-btn d-flex flex-column justify-content-around align-items-center" (click)="selectNewProfessorDepartment('INDUS')" data-bs-toggle="modal" data-bs-target="#new-professor-modal">
          <img src="./assets/images/indus-icon.svg" alt="industruel" class="add-icon">
          <h3>INDUS</h3>
        </div>
      </div>
  </div>

  <!-- Adding Modal -->
  <div class="modal fade" id="new-professor-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="new-professor-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header adding-modal">
          <div class="title-wrapper">
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewProfessorDepartment === 'INFO'">
              <img src="./assets/images/computer-binary.svg" alt="info" class="add-icon">
              <h5>INFO</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewProfessorDepartment === 'ELEC'">
              <img src="./assets/images/elec-1.svg" alt="elec" class="add-icon">
              <h5>ELEC</h5>
            </div>
            <div class="add-title d-flex align-items-center" *ngIf="selectedNewProfessorDepartment === 'INDUS'">
              <img src="./assets/images/indus-icon.svg" alt="industruel" class="add-icon">
              <h5>INDUS</h5>
            </div>
          </div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">CREATE</button>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Department</th>
            <th>Account Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let professor of profs$ |async">
            <td>{{ professor.username }}</td>
            <td>{{ professor.email }}</td>
            <td>{{ professor.telephone }}</td>
            <td>{{ professor.department }}</td>
            <td>{{ professor.accountStatus }}</td>
            <td> <!-- Actions column content --> </td>
        </tr>
        </tbody>
    </table>
 </div>
 